*.gob
**.tfvar
.infracost/*
**/.terraform/*
**/secret.tfvars
**/terraform.tfstate
**/.terraform.lock.hcl
**/tfplan
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
*/elb.tf.backup
**/.terragrunt-cache/*
aws_ec2_lb_autoscaling/secret.tfvars
